{
  "singleQuote": false,
  "semi": false,
  "printWidth": 120,
  "trailingComma": "all",
  "tabWidth": 2,
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.mts",
        "*.tsx"
      ],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}